body {
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%);
}
.canvas-container {
  /* background-image: url("./assets/backgraph.png"); */
  /* background-image: linear-gradient(to right, #40bad5, #035aa6);
  background-repeat: no-repeat;
  background-position: center; */
  height: 500px;
  width: 80%;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#myChart {
  width: 100px;
  height: 500px;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

#next-btn {
  width: 15%;
  height: 5%;
  display: none;
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  margin-left: -3%;
  bottom: 5%;
  background-color: #2dcc70;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-size: 120%;
  cursor: pointer;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  transition: all 0.5s;
}

#next-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#next-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#next-btn:hover span {
  padding-right: 25px;
}

#next-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.home {
  margin-right: 110px;
  margin-top: 10px;
}
#questionNumber {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  padding: 7px;
}

.home {
  margin-right: 10px;
  margin-top: 5px;
}
@media (max-width: 640px) {
  #instructions {
    font-size: 10px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
  }
  #result {
    padding: 4px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
  }
  body {
    font-size: 11px;
  }
  .canvas-container {
    height: auto;
    overflow: hidden;
    top: 70%;
    left: 50%;
    width: 350px;
  }
  #myChart {
    height: 3000px;
    width: 500px;
  }
  #next-btn {
    margin-left: -24%;
    width: 50%;
  }
  .home {
    margin-right: 10px;
    margin-top: 5px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
  }
  #questionNumber {
    font-size: 25px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
  }
}
