<html>
  <head>
    <title>State Quiz</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <style>
    body {
      background-color: white;
    }
    .container {
      text-align: center;
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: -apple-system, system-ui, BlinkMacSystemFont;
    }

    @font-face {
      font-family: "San Francisco";
      font-weight: 400;
      src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
    }
    @media screen-only (max-width: 640px) {
      h1 {
        font-size: 100px;
      }
      h2 {
        font-size: 55px;
      }
    }
  </style>
  <body>
    <div class="container">
      <h2 style="color: blue;">
        Along with
        <span style="color: green;"
          >clearing the previous government's pending amounts of about Rs.
          39,000 Crores,</span
        >
        this year the YSRCP Government has completed<span style="color: green;">
          90% of its Manifesto.</span
        >
        Thus, benefiting
        <span style="color: green;"> 3.57 Crore people of Andhra Pradesh</span>
        (almost 70% of the population)
      </h2>
      <h1>Thank You</h1>
    </div>
  </body>
</html>
