<html>
  <head>
    <% include ('../partials/head') %>
    <style>
      body {
        background: #e3ecf1;
        text-align: center;
      }
      a{
        text-decoration: none;
      }
    </style>
    
  </head>
  <body>
    <header>
      <% include ('../partials/header') %>
    </header>
    <main>
      <p>YOUR QUESTION</p>
      <canvas
      onclick="chartClicked(event)"
      id="myChart"
        style="width: 10%; height: 5%; border: 1px solid black;"
      ></canvas>
      
      <button style="margin: 10px;"><a id="next">SUBMIT</a></button>
    </main>
    <footer>
      <% include ('../partials/footer') %>
    </footer>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
     let newY1 = 0;
     let newX=0;
     let ctx = document.getElementById('myChart').getContext('2d');
     let myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [2016,2017,2018,2019,2020,2021],
        datasets: [{
            label: 'Budget',
            data: [200,100,125,80,],
            backgroundColor: 'transparent',
            borderColor: "blue",
            borderWidth: 2
        }]
    },
    options: {
        elements:{
            line:{
                tension:0.3,
            }
        },
        
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    zeroLineColor: 'rgba(38,38,38,1)'
                }
                
            }],
            
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines : {
                    zeroLineColor: 'rgba(38,38,38,1)',
                    
                    
                }
            }]
        }
    }
});
const chartClicked = (event) => {
  let yTop = myChart.chartArea.top;
  let yBottom = myChart.chartArea.bottom;

  let yMin = myChart.scales["y-axis-0"].min;
  let yMax = myChart.scales["y-axis-0"].max;
  

  if (event.offsetY <= yBottom && event.offsetY >= yTop) {
    newY1 = Math.abs((event.offsetY - yTop) / (yBottom - yTop));
    newY1 = (newY1 - 1) * -1;
    newY1 = newY1 * Math.abs(yMax - yMin) + yMin;
  }

  let xTop = myChart.chartArea.left;
  let xBottom = myChart.chartArea.right;
  let xMin = myChart.scales["x-axis-0"].min;
  let xMax = myChart.scales["x-axis-0"].max;
  

  if (event.offsetX <= xBottom && event.offsetX >= xTop) {
    newX = Math.abs((event.offsetX - xTop) / (xBottom - xTop));
    newX = newX * Math.abs(xMax - xMin) + xMin;
  }

  myChart.data.datasets[0].data=[200,100,125,80,newY1],
  myChart.update();
  const anchorRef = document.getElementById('next');
  anchorRef.setAttribute('href',`/question2?val=${Math.floor(newY1)}`);
  console.log(newY1);
}

</script>
</body>
</html>
