<html>
  <head>
    <% include ('../partials/head') %>
    <style>
      body {
        background: #e3ecf1;
        text-align: center;
      }
    </style>
    
  </head>
  <body>
    <header>
      <% include ('../partials/head') %>
    </header>
    <main>
      <p>YOUR QUESTION</p>
      <canvas
      onclick="chartClicked(event)"
      id="myChart"
        style="width: 10%; height: 5%; border: 1px solid black;"
      ></canvas>
      
      <button style="margin: 10px;" onclick="submitData()">SUBMIT</button>
      <div id="result"></div>
    </main>
    <footer>
      <% include ('../partials/footer') %>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
     let newY2 = 0;
     let clicked = false;
     let newX=0;
     let ctx = document.getElementById('myChart').getContext('2d');
     let myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [2016,2017,2018,2019,2020,2021],
        datasets: [{
            label: 'Budget',
            data: [150,80,55,80],
            backgroundColor: 'transparent',
            borderColor: "blue",
            borderWidth: 2
        }]
    },
    options: {
        elements:{
            line:{
                tension:0.3,
            }
        },
        
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    zeroLineColor: 'rgba(38,38,38,1)'
                }
                
            }],
            
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines : {
                    zeroLineColor: 'rgba(38,38,38,1)',
                    
                    
                }
            }]
        }
    }
});
const chartClicked = (event) => {
  clicked = true;

  let yTop = myChart.chartArea.top;
  let yBottom = myChart.chartArea.bottom;

  let yMin = myChart.scales["y-axis-0"].min;
  let yMax = myChart.scales["y-axis-0"].max;
  
  const values = [0,20,40,60,80,100,120,140,160,180,200];

  if (event.offsetY <= yBottom && event.offsetY >= yTop) {
    newY2 = Math.abs((event.offsetY - yTop) / (yBottom - yTop));
    newY2 = (newY2 - 1) * -1;
    newY2 = newY2 * Math.abs(yMax - yMin) + yMin;
  }

  let xTop = myChart.chartArea.left;
  let xBottom = myChart.chartArea.right;
  let xMin = myChart.scales["x-axis-0"].min;
  let xMax = myChart.scales["x-axis-0"].max;
  

  if (event.offsetX <= xBottom && event.offsetX >= xTop) {
    newX = Math.abs((event.offsetX - xTop) / (xBottom - xTop));
    newX = newX * Math.abs(xMax - xMin) + xMin;
  }

  const selectedVal = values.find(e=>e>newY2);
  myChart.data.datasets[0].data=[150,80,55,80,selectedVal],
  myChart.update();
  console.log(newY2);
}

const submitData = async ()=>{
  if(!clicked) {
    alert('Please select your answer');
  }  
  else {
    const res = await axios.get('/check',{params:{level:2,value:Math.floor(newY2)}});
    console.log(res.data);
    if(res.data.okay) {
      document.getElementById('result').innerHTML = res.data.message;
    } else {
      document.getElementById('result').innerHTML = `${res.data.message}`;
    }
  }
  const res = await axios.post('/submit',null,{headers:{'Content-type':'application/json'}});
  alert('Thank you for participating');
  window.location.replace('/');
}
  </script>
</html>
