<html>
  <head>
    <% include ('../partials/head') %>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <% include ('../partials/header') %>
    </header>
    <main>
      <p>YOUR QUESTION</p>
      <canvas
      id="myChart"
      onclick="chartClicked(event)"
      style="width: 10%; height: 5%; border: 1px solid black;"
      ></canvas>
      <div id="result"></div>
    </main>
    <footer>
      <% include ('../partials/footer') %>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@latest/dist/chartjs-plugin-dragdata.min.js"></script>
  <script type='text/javascript' src="assets/graphs.js"></script>
</body>
</html>
