<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <% include ('../partials/head') %>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <% include ('../partials/header') %>
    </header>
    <main>
      <h1 id="questionNumber" style="color: black;"></h1>
      
      <div id="result"> <p style="color: rgb(80, 80, 80);">Instructions : Drag the Last coordinate (2020 coordinate) up or down to what you think is the correct answer</p></div>
      <div class="canvas-container">
        <canvas id="myChart" onclick="chartClicked(event)"></canvas>
      </div>  
    </main>
    
    <footer>
      <button id="next-btn" onclick="nextQuestion(event)"><span> Next Question </span></button>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@latest/dist/chartjs-plugin-dragdata.min.js"></script>
  <script type='text/javascript' src="assets/graphs.js"></script>
</body>
</html>
